*{
    margin: 0; 
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
}
h1,
h2,
h3 {
    color: darkblue;
    text-transform: uppercase;
    margin: 5px 0;
}

p {
    color: grey;
}
/* --------------------------------------- */
/* team section */
.team{
    padding: 100px 0;
    background-color: #f8fbfe;
}

.team .title{
    text-align: center;
    margin-bottom: 40px;
}

.team .d-flex{
    display: flex;
    justify-content: space-between;
}

.team .person{
    background-color: white;
    width: 24%;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.338);
}

.team .person img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.team .person .icons{
    padding: 10px 0;
}

.team .person .icons i{
    color: darkblue;
    font-size: 20px;
    margin: 0 10px;
}

.team .person .icons i:hover{
    color: skyblue;
}